<h1 class="text-center">Edit Bottle</h1>

<%= form_for @bottle do |f| %>

<div>
  <%= f.label :qty %>
  <%= f.number_field :qty %>
</div>

<div>
  <%= f.label :vintage %>
  <%= f.number_field :vintage %>
</div>

<div>
  <%= f.label :wine %>
  <%= f.text_field :wine %>
</div>

<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>

<%= f.submit 'UPDATE' %>

<% end %>

<%= link_to 'Back to my cellar', users_path, :class => "btn btn-success" %>
