<h1 class="text-center">Edit Bottle</h1>

<div class="container center_div">

<%= form_for @bottle do |f| %>

<div>
  <%= f.label :qty %>
  <%= f.number_field :qty %>
</div>

<div>
  <%= f.label :vintage %>
  <%= f.number_field :vintage %>
</div>

<div>
  <%= f.label :wine %>
  <%= f.text_field :wine %>
</div>

<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>

<%= f.submit 'Update', :class => "btn btn-success" %>

<% end %>

<%= link_to 'Back to my cellar', user_path(current_user), :class => "btn btn-default center-block" %>
</div>
