<h1>Bottles</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link "qty" %></th>
      <th><%= sort_link "vintage" %></th>
      <th><%= sort_link "wine" %></th>
      <th><%= sort_link "price" %></th>
    </tr>
  </thead>
  <tbody>
    <% @cellar.each do |cellar| %>
      <tr>
        <td><%= cellar.qty %></td>
        <td><%= cellar.vintage %></td>
        <td><%= cellar.wine %></td>
        <td><%= number_to_currency cellar.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
