<% provide(:title, @user.name) %>

<div class="container bgwhite">
  <h1 class="text-center"> <%= @user.name %>'s Cellar </h1>

    <table class="table table-bordered table-hover">
      <thead class="bgwhite">
        <tr>
          <th><%= sort_link "qty" %></th>
          <th><%= sort_link "vintage" %></th>
          <th><%= sort_link "wine" %></th>
          <th><%= sort_link "price" %></th>
          <th><%= sort_link "value" %></th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
    <tbody class="bgwhite">
    <% @cellar.each do |bottle| %>
        <tr>
          <td><%= bottle.qty %></td>
          <td><%= bottle.vintage %></td>
          <td><%= bottle.wine %></td>
          <td><%= number_to_currency bottle.price %></td>
          <td><%= number_to_currency bottle.price * bottle.qty %></td>
          <td><%= link_to "Edit", edit_bottle_path(bottle) %></td>
          <td><%= link_to "Delete", bottle, method: :delete, data: {confirm: "You sure?" }%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

      <%= link_to 'Add Wine', new_bottle_path, :class => "btn btn-success" %>
  </div>
