<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<h1> <%= @user.name %>'s Cellar </h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link "qty" %></th>
      <th><%= sort_link "vintage" %></th>
      <th><%= sort_link "wine" %></th>
      <th><%= sort_link "price" %></th>
      <th>Photo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bottles.each do |bottle| %>
      <tr>
        <td><%= bottle.qty %></td>
        <td><%= bottle.vintage %></td>
        <td><%= bottle.wine %></td>
        <td><%= number_to_currency bottle.price %></td>
        <td></td>
        <td><%= link_to "D", bottle, method: :delete,
                                       data: { confirm: "You sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'ADD WINE TO YOUR CELLAR', new_bottle_path %>
