<!-- <%= form_for(@bottle) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.number_field :qty, placeholder: "Quantity" %>
  </div>
  <div class="field">
    <%= f.number_field :vintage, placeholder: "Vintage" %>
  </div>
  <div class="field">
    <%= f.text_field :wine, placeholder: "Wine" %>
  </div>
  <div class="field">
    <%= f.number_field :price, placeholder: "Price" %>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %> -->
