<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li class="logo"><%= link_to "v", root_path %></li>
      </ul>
        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><%= link_to "My Cellar", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        </ul>
        <% end %>
      </ul>
    </nav>
  </div>
      <script>
           $(document).ready(function(){
             $('.navbar .dropdown').hover(function() {
                 $(this).find('.dropdown-menu').first().stop(true, true).delay(200).slideDown(50);
             }, function() {
                 $(this).find('.dropdown-menu').first().stop(true, true).delay(200).slideUp(50)
                 });
              })
       </script>
</header>
